# Site: tdtrac.example.com
#
# Site Type: cakephp
#
# Force HTTPS on these
#
# Note: Neither CakePHP nor TDTracStaff require SSL.  It's a good idea though. And 
# with letsencypt, it's free.
server {
	listen 80;
	listen [::]:80;
	server_name tdtrac.example.com;
	access_log off;
	error_log /dev/null;
	return 301 https://tdtrac.example.com$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:443 ssl;
	ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;
	ssl_dhparam /etc/ssl/certs/dhparam.pem;


	root /your/install/path/TDTracStaff/webroot;

	index index.php;

	server_name tdtrac.example.com;

	access_log /var/log/nginx/tdtrac.access.log;
	client_max_body_size 100M;
	error_log /var/log/nginx/tdtrac.error.log;

	location / {
		index index.php;
		try_files $uri $uri/ /index.php?$args;
	}


	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/run/php/php7.2-fpm.sock;
	}
	
}

