.form-group.required label:after {
	content:" *";
	color:red;
}

tr.bold td { font-weight: 700; }

fieldset { margin-top: 20px; }


.form-check { padding-left: 0; }
.toggle-handle { width: 5%; }
.table th {
	color: #333;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,.055);
}

.helptable tr td:first-child {
	font-weight: 700;
}


.navbar-nav .dropdown-menu.show { width: auto; }

.loading { display: none; }

.spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	height:150px;
	width:150px;
	margin: -75px 0px 0px -75px;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:16px solid rgba(120,0,239,.15);
	border-right:16px solid rgba(120,0,239,.15);
	border-bottom:16px solid rgba(120,0,239,.15);
	border-top:16px solid rgba(120,0,239,.8);
	border-radius:100%;
	z-index: 2001;
}

.overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	height:100vh;
	width:100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 2000;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}


@media (max-width: 768px) {
	.btn-group,
	.btn-group-sm-vertical {
		position: relative;
		display: -ms-inline-flexbox;
		display: inline-flex;
		vertical-align: middle;
	}
	
	.btn-group > .btn,
	.btn-group-sm-vertical > .btn {
		position: relative;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
	
	.btn-group > .btn:hover,
	.btn-group-sm-vertical > .btn:hover {
		z-index: 1;
	}
	
	.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
	.btn-group-sm-vertical > .btn:focus,
	.btn-group-sm-vertical > .btn:active,
	.btn-group-sm-vertical > .btn.active {
		z-index: 1;
	}
	
	.btn-group-sm-vertical {
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.btn-group-sm-vertical > .btn,
	.btn-group-sm-vertical > .btn-group {
		width: 100%;
	}
	
	.btn-group-sm-vertical > .btn:not(:first-child),
	.btn-group-sm-vertical > .btn-group:not(:first-child) {
		margin-top: -1px;
	}
	
	.btn-group-sm-vertical > .btn:not(:last-child):not(.dropdown-toggle),
	.btn-group-sm-vertical > .btn-group:not(:last-child) > .btn {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	.btn-group-sm-vertical > .btn:not(:first-child),
	.btn-group-sm-vertical > .btn-group:not(:first-child) > .btn {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.btn-group-sm-vertical.btn-group>.btn:not(:first-child) {
		margin-left: 0px;
	}
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

/* a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
} */

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
	SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #2A3F54;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 18.5px;
	background: #243649;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #2A3F54;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: rgba(255,255,255,.1);
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: rgba(140,200,250,.1);
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

/* ---------------------------------------------------
	CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 100%;
	padding: 0px;
	min-height: 100vh;
	transition: all 0.3s;
	overflow: hidden;
}

/* ---------------------------------------------------
	MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
}


.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
